@import url( common.css );
.sub5bo {
	margin: 0px auto; width: 289px; text-align: center;
}
.sub41 {
	padding: 10px 0px; width: 730px; background-color: rgb(246, 246, 246);
}
.sub53 {
	background: url("img/bg01.jpg") no-repeat center; width: 742px; height: 383px;
}
.mainco li {
	padding: 8px 0px; width: 201px; text-align: center; color: rgb(135, 135, 135); line-height: 16px; font-family: "µ¸¿ò"; font-size: 12px !important; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.subtit {
	width: 742px; height: 42px; padding-top: 47px; border-bottom-color: rgb(183, 183, 183); border-bottom-width: 1px; border-bottom-style: solid;
}
.login1kuang {
	border-width: 2px 1px 1px; border-style: solid; border-color: rgb(198, 53, 55) rgb(215, 215, 215) rgb(215, 215, 215); padding: 37px 0px 0px 185px; width: 554px; height: 129px; margin-bottom: 50px;
}
.my1kuang {
	padding: 37px 0px 0px 205px; width: 534px; height: 129px; border-right-color: rgb(215, 215, 215); border-bottom-color: rgb(215, 215, 215); border-left-color: rgb(215, 215, 215); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
.botfont01 {
	color: rgb(157, 157, 157); font-family: "tahoma"; font-size: 11px !important;
}
.botfont02 {
	color: rgb(90, 90, 90); font-family: "tahoma"; font-size: 12px !important; font-weight: bold;
}
.tit01 {
	color: rgb(117, 124, 130); font-family: "µ¸¿ò"; font-size: 12px !important;
}
.tit02 {
	color: rgb(84, 84, 84); font-family: "µ¸¿ò"; font-size: 12px !important;
}
.font01 {
	color: rgb(103, 103, 103); line-height: 18px; font-family: "µ¸¿ò"; font-size: 12px !important;
}
.font02 {
	color: rgb(1, 1, 1); font-family: "µ¸¿ò"; font-size: 15px !important; font-weight: bold;
}
.font021 {
	color: rgb(199, 0, 1); font-family: "µ¸¿ò"; font-size: 15px !important; font-weight: bold;
}
.font022 {
	color: rgb(199, 0, 1); font-family: "µ¸¿ò"; font-size: 14px !important; font-weight: bold;
}
.font03 {
	color: rgb(0, 0, 0); line-height: 20px; font-family: "µ¸¿ò"; font-size: 12px !important;
}
.font04 {
	color: rgb(199, 0, 1); line-height: 20px; font-family: "µ¸¿ò"; font-size: 12px !important; font-weight: bold;
}
.font05 {
	color: rgb(218, 0, 3); line-height: 20px; font-family: "µ¸¿ò"; font-size: 12px !important;
}
.font06 {
	color: rgb(35, 35, 35); font-family: "µ¸¿ò"; font-size: 12px !important; font-weight: bold;
}
.font07 {
	color: rgb(107, 107, 107); line-height: 20px; font-family: "µ¸¿ò"; font-size: 12px !important;
}
a.intra_link01:link {
	color: rgb(75, 75, 75); text-decoration: none;
}
a.intra_link01:visited {
	color: rgb(75, 75, 75); text-decoration: none;
}
a.intra_link01:active {
	color: rgb(75, 75, 75); text-decoration: none;
}
a.intra_link01:hover {
	color: rgb(75, 75, 75); text-decoration: none;
}
a.link01:link {
	color: rgb(45, 45, 45); text-decoration: none;
}
a.link01:visited {
	color: rgb(45, 45, 45); text-decoration: none;
}
a.link01:active {
	color: rgb(45, 45, 45); text-decoration: none;
}
a.link01:hover {
	color: rgb(45, 45, 45); text-decoration: none;
}
#site {
	margin: 0px auto; width: 742px;
}
.hide {
	display: none;
}
.line01 {
	height: 30px; padding-top: 15px; padding-left: 20px; border-top-color: rgb(229, 229, 229); border-bottom-color: rgb(229, 229, 229); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.line02 {
	background: rgb(247, 247, 247); padding: 10px 20px 10px 40px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.line03 {
	height: 30px; padding-top: 15px; padding-left: 20px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid;
}
.selected {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51); font-weight: bold; cursor: pointer;
}
.over {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0); cursor: pointer;
}
.es1 {
	padding: 3px 0px 0px 20px;
}
.mapBtnWrap {
	margin-top: 30px; margin-left: 50px; position: relative;
}
.mapBtnWrap .mapList .img_01 {
	left: 32px; top: 28px; position: absolute; z-index: 8;
}
.mapBtnWrap .mapList .img_02 {
	left: 51px; top: 65px; position: absolute; z-index: 10;
}
.mapBtnWrap .mapList .img_03 {
	left: 9px; top: 57px; position: absolute;
}
.mapBtnWrap .mapList .img_04 {
	left: 15px; top: 104px; position: absolute;
}
.mapBtnWrap .mapList .img_05 {
	left: 74px; top: 93px; position: absolute;
}
.mapBtnWrap .mapList .img_06 {
	left: 101px; top: 71px; position: absolute;
}
.mapBtnWrap .mapList .img_07 {
	left: 30px; top: 161px; position: absolute;
}
.mapBtnWrap .mapList .img_08 {
	left: 90px; top: 173px; position: absolute;
}
.mapBtnWrap .mapList .img_09 {
	left: 161px; top: 187px; position: absolute;
}
.mapBtnWrap .mapList .img_10 {
	left: 0px; top: 204px; position: absolute;
}
.mapBtnWrap .mapList .img_11 {
	left: 129px; top: 169px; position: absolute;
}
.mapBtnWrap .mapList .img_12 {
	left: 72px; top: 140px; position: absolute;
}
.mapBtnWrap .mapList .img_13 {
	left: 150px; top: 208px; position: absolute;
}
.mapBtnWrap .mapList .img_14 {
	left: 41px; top: 217px; position: absolute;
}
.mapBtnWrap .mapList .img_15 {
	left: 54px; top: 0px; position: absolute;
}
.mapBtnWrap .mapList .img_16 {
	left: 22px; top: 299px; position: absolute;
}
.mapBtnWrap .mapList .img_17 {
	left: 64px; top: 118px; position: absolute;
}
